<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smartorder.admin.mapper.CategoryMapper">

  <select id="selectList" resultType="com.example.smartorder.admin.dto.CategoryDto">
    select c.*
         , (select count(*) from menu where category_id = c.id) as menu_count
    from category c
    order by sort_value asc
  </select>

</mapper>