<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smartorder.admin.mapper.MenuMapper">

  <sql id="selectListWhere">
    <if test="categoryId > 0">
      and category_id = #{categoryId}
    </if>
  </sql>

  <select id="selectListCount" resultType="long">
    select count(*)
    from menu
    where 1 = 1
        <include refid="selectListWhere"/>
  </select>

  <select id="selectList" resultType="com.example.smartorder.admin.dto.MenuDto">
    select *
    from menu
    where 1 = 1
        <include refid="selectListWhere"/>
    limit #{pageStart}, #{pageEnd}
  </select>

</mapper>