<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>관리자 페이지</title>
  <style>
    .list table {
      width: 100%;
      border-collapse: collapse;
    }
    .list table th, .list table td {
      border: solid 1px #000;
    }
    .total-count {
      text-align: right;
    }
    .pager {
      margin-top: 20px;
      text-align: center;
    }
    .pager a.on{
      font-weight: bold;
      color: red;
    }
  </style>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
  $(document).ready(function() {

    $('#selectAll').on('click', function() {
      var checked = $(this).is(':checked');

      $('#dataList input[type=checkbox]').each(function(k, v) {
        $(this).prop('checked', checked);
      });

    });


    $('#deleteButton').on('click', function() {

      var $checked = $('#dataList input[type=checkbox]:checked');

      if($checked.length < 1){
        alert('삭제할 데이터를 선택해 주세요.');
        return false;
      }

      if(!confirm('선택한 데이터를 삭제하시겠습니까?')){
        return false;
      }

      var idList = [];
      $.each($checked, function(k, v){
        idList.push($(this).val());
      });

      var $deleteForm = $('form[name=deleteForm]');
      $deleteForm.find('input[name=idList]').val(idList.join(','));
      $deleteForm.submit();

    });
  });
</script>
<body>
<h1>매장 관리</h1>
<div th:replace="/fragments/layout.html :: fragment-admin-body-menu"></div>

<div class="list">
  <div class="buttons">
    <p class="total-count">전체 <span th:text="${totalCount}"></span>개</p>
    <a href="/admin/store/add.do">가게 등록</a>
    <button id="deleteButton" type="button"> 선택 삭제 </button>
  </div>
  <table>
    <thead>
    <tr>
      <th>
        <input id="selectAll" type="checkbox" />
      </th>
      <th> NO </th>
      <th> 지점명 </th>
      <th>지점등록일</th>
    </tr>
    </thead>
    <tbody id="dataList">
    <tr th:each="x, i : ${list}">
      <td>
        <input type="checkbox" th:value="${x.id}" />
      </td>
      <td th:text="${i.index + 1}">1</td>
      <td>
        <p>
          <a th:href="'edit.do?id=' + ${x.id}" th:text="${x.storeName}"></a>
        </p>
      </td>
      <td>
        <p th:text="${x.regDt}"></p>
      </td>
    </tr>
    <tr th:if="${#lists.size(list) < 1}">
      <td colspan="8">
        <p class="nothing">내용이 없습니다.</p>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="pager" th:utext="${pager}">
  </div>

</div>

<form name="deleteForm" method="post" action="/admin/store/delete.do">
  <input type="hidden" name="idList" />
</form>
</body>
</html>