<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>관리자 화면</title>
  <style>
    .detail table {
      width: 100%;
      border-collapse: collapse;
    }
    .detail table th, .detail table td {
      border: solid 1px #000;
    }

    .history table {
      width: 100%;
    }
    .history table th {
      background: black;
      color: white;
    }
    .history table th, .history table tr {
      text-align: center;
    }
    .history table tr:nth-child(odd) { background-color: silver }
    .history table tr:nth-child(even) { background-color: #e8e8e8; }
  </style>
</head>
<body>
<h1>관리자 회원 관리 - 회원 상세 정보</h1>

<div th:replace="/fragments/layout.html :: fragment-admin-body-menu"></div>

<div class="detail">

  <table>
    <tbody>
    <tr>
      <th>아이디</th>
      <td>
        <p th:text="${member.userId}"></p>
      </td>
    </tr>
    <tr>
      <th>이름</th>
      <td>
        <p th:text="${member.userName}"></p>
      </td>
    </tr>
    <tr>
      <th>연락처</th>
      <td>
        <p th:text="${member.phone}"></p>
      </td>
    </tr>
    <tr>
      <th>이메일 인증</th>
      <td>
        <p th:text="${member.emailAuthYn}"></p>
      </td>
    </tr>
    <tr>
      <th>유저 권한</th>
      <td>
        <p>
          현재 권한 : <span th:text="${member.userRole.description}"></span>
        </p>
        <div>
          <form method="post" action="/admin/member/role.do">
            <input th:value="${member.userId}" type="hidden" name="userId"/>
            <select name="userRole">

              <option th:each="x : ${userRole}"
                      th:value="${x.name()}"
                      th:text="${x.description}"></option>
            </select>
            <button type="submit">권한 변경</button>
          </form>
        </div>
      </td>
    </tr>
    <tr>
      <th>가입일</th>
      <td>
        <p th:text="${member.regDt}"></p>
      </td>
    </tr>
    </tbody>
  </table>

  <div>
    <a href="list.do">목록</a>
  </div>
  <br/>
</div>

</body>
</html>